#####################################################
# MaxScale documentation:                           #
# https://mariadb.com/kb/en/mariadb-maxscale-23-08/ #
#####################################################

#########################################################################################
# Global parameters                                                                     #
#                                                                                       #
# Complete list of configuration options:                                               #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-mariadb-maxscale-configuration-guide/ #
#########################################################################################
[maxscale]
threads=auto

############################################################################
# Server definitions                                                       #
#                                                                          #
# Set the address of the server to the network address of a MariaDB server.#
############################################################################

[myserver2]
type=server
address=192.168.1.10
port=3306

[myserver1]
type=server
address=192.168.1.11
port=3306

[myserver3]
type=server
address=192.168.1.12
port=3306

##################################################################################
# Uncomment this and add MaxScale's IP to proxy_protocol_networks in MariaDB for #
# easier user management: https://mariadb.com/kb/en/proxy-protocol-support/      #
##################################################################################
# proxy_protocol=true

####################################################################################
# Monitor for the servers                                                          #
#                                                                                  #
# This will keep MaxScale aware of the state of the servers.                       #
# MariaDB Monitor documentation:                                                   #
# https://mariadb.com/kb/en/mariadb-maxscale-23-08-monitors/                       #
#                                                                                  #
# The GRANTs needed by the monitor user depend on the actual monitor.              #
# The GRANTs required by the MariaDB Monitor can be found here:                    #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-mariadb-monitor/#required-grants #
####################################################################################

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=myserver2,myserver1,myserver3
user=maxmon
password=maxmon
monitor_interval=2s

####################################################################################################
# Uncomment these to enable automatic node failover:                                               #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-mariadb-monitor/#cluster-manipulation-operations #
#                                                                                                  #
# The GRANTs required for automatic node failover can be found here:                               #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-mariadb-monitor/#cluster-manipulation-grants     #
####################################################################################################
auto_failover=true
auto_rejoin=true
enforce_simple_topology=true
replication_user=replicate
replication_password=replicate

#################################################################################################
# Uncomment this if you use more than one MaxScale with automatic node failover:                #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-mariadb-monitor/#cooperative-monitoring       #
#################################################################################################
# cooperative_monitoring_locks=majority_of_all

###########################################################################################
# Service definitions                                                                     #
#                                                                                         #
# Service Definition for a read-only service and a read/write splitting service.          #
#                                                                                         #
# The GRANTs needed by the service user can be found here:                                #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-authentication-modules/#required-grants #
###########################################################################################

###################################################################
# ReadWriteSplit documentation:                                   #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-readwritesplit/ #
###################################################################

[Cacti-Service]
type=service
router=readwritesplit
servers=myserver2,myserver1,myserver3
user=maxmon
password=maxmon
max_slave_connections=0

[FlowView-ScaleOut-Service]
type=service
router=readwritesplit
servers=myserver2,myserver1,myserver3
user=maxmon
password=maxmon
master_accept_reads=true

######################################################################################
# Uncomment these to enable transparent transaction replay on node failure:          #
# https://mariadb.com/kb/en/mariadb-maxscale-2308-readwritesplit/#transaction_replay #
######################################################################################
# transaction_replay=true
# transaction_replay_timeout=30s

####################################################################
# Listener definitions for the services                            #
#                                                                  #
# These listeners represent the ports the services will listen on. #
####################################################################

[Cacti-Listener]
type     = listener
service  = Cacti-Service
protocol = mariadbprotocol
port     = 3307
ssl      = false

[FlowView-ScaleOut-Listener]
type      = listener
service   = FlowView-ScaleOut-Service
protocol  = mariadbprotocol
port      = 3308
ssl       = false

